/* ======= */
/*  FONTS  */
/* ======= */

@font-face {
    font-family: 'Darumadrop One', sans-serif;
    src: url('fonts/DarumadropOne-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Copse', serif;
    src: url('fonts/Copse-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}




/* ================= */
/*   NAVIGATION BAR  */
/* ================= */

/* Nav bar styling */
nav {
    position: sticky;
    top: 0;
    padding: 40px;
    height: 100px;
    box-shadow: 0px 2px 7px;
    color: black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #864E47;
}

nav img {
    width: 40px;
    height: 40px;
}

/* Logo inside nav */
nav a img {
    height: 60px;
    width: auto;
}

/* Nav layout */
nav ul {
    display: flex;
    gap: 20px;
    list-style:
    none; margin: 0;
    padding: 0;
}

/* Nav items */
nav li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin: 0 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav li img {
    margin-right: 7px;
}

/* Nav links */
nav li a {
    color: #ECDCBF;
    text-decoration: none;
}

/* Hamburger menu styles (mobile only) */
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #ECDCBF;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

/* BREAKPOINT: Responsive nav adjustments for mobile */
@media (max-width: 375px) {
    .hamburger {
      display: block;
      top: 5%;
      right: 0%;
      z-index: 1001;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute; 
      gap: 10px;
      width: 100%;
      top: 20%;
      right: 0;
      width: 40%;
      height: 25vh;
      background-color: #864E47;
      padding: 20px;
      z-index: 1000;
      box-shadow: -2px 0 10px rgba(0,0,0,0.3);
    }

    .nav-links.active {
      display: flex;
      position: absolute;
      top: 100px;
      padding: 20px;
      z-index: 1000;
      background-color: #5A6A50;
    }

    nav {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;  
    }

    nav li {
      justify-content: flex-start;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin-bottom: 10px;
      width: 80%;
      display: block;
    }

    nav li:last-child {
        border-bottom: none;
    }
}

/* Make all images align to the middle of text lines */
img {
    vertical-align: middle;
}




/* ============= */
/*    FOOTER     */
/* ============= */

footer {
    background-color: #C5B79F;
    padding: 20px;
    color: #5A6A50;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 7);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.footer-line {
    border: none;
    border-top: 1px solid #864E47;
    margin: 20px 0 10px;
    width: 100%;
}

.footer-note {
    text-align: center;
    font-size: 1rem;
    color: #5A6A50;
}

.footer-icons-line {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5%;
    padding-bottom: 7%;
    width: 100%;
    margin: 0;
}
  
.footer-icons-line img {
    width: 4%;
    height: auto;
}

.contact {
    text-align: left;
    display: inline-block;
    padding: 10px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.contact img {
    width: 20px;
    margin-right: 10px;
}

/* BREAKPOINT: Responsive footer adjustments for mobile */
@media (max-width: 375px) {
    .footer-content {
        align-items: flex-start;
    }

    .footer-content > p,
    .contact {
        margin-top: 3%;
    }

    .contact ul {
        font-size: 1rem;
    }

    .footer-note {
        font-size: 1rem;
        text-align: center;
    }
}




/* ============== */
/*    HOMEPAGE    */
/* ============== */

/* Reset default margins and paddings across all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header image setup */
header {
    width: 100%;
    margin: 0;
    padding: 1%;
}

header img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0;
}

/* Main content */
.content {
    padding: 20px;
}

/* Body styling */
body {
    font-family: 'Darumadrop One', sans-serif;
    background-color: #5a6c50;
    margin: 0;
    padding: 0;
    color: #f4f1e6;
    text-align: center;
}

/* Headings and global text styles */
h1, h2, li, nav, footer {
    font-family: 'Darumadrop One', sans-serif;
}

h1 {
    font-size: 4rem; 
    margin: 0;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ECDCBF;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 2rem;
    color: #ECDCBF;
}

p {
    font-family: 'Copse', serif;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
}

/* BREAKPOINT: Responsive font adjustments for mobile */
@media (max-width: 375px) {
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.8rem;
    }
}



/* ============== */
/*   SLIDESHOW    */
/* ============== */

/* Hide all slides by default */
.mySlides {
    display: none;
  }

  /* Slideshow container styles */
.slideshow-container {
    max-width: 70%;
    aspect-ratio: 16 / 6;
    position: relative;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Fade animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Zoom on hover */
@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

.slideshow-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

/* BREAKPOINT: Responsive font adjustments for mobile */
@media only screen and (max-width: 375px) {
    .text {
      font-size: 11px;
    }
}

/* Arrows for slideshow navigation */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-top: -28px;
    color: #ECDCBF;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    border: 2px solid #ECDCBF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.prev {
    left: 70px;
}

.next {
    right: 70px;
}

/* Dots for slideshow indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #C5B79F;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
}

.dot.active {
    transform: scale(0.8);
}




/* ================= */
/*  ABOUT & HISTORY  */
/* ================= */

/* Headline section style */
.headline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px; 
    position: relative;
}

/* Styled info section with image and text side-by-side */
.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    max-width: 80%; 
    margin: auto;
    border: 2px solid #ECDCBF;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Wrapper for images in the info section */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Styling for images inside the image-container */
.image-container img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Removes bullet points and default padding for contact list */
.contact ul {
    list-style: none;
    padding: 0;
}




/* ============= */
/*  CATEGORIES   */
/* ============= */

/* Grid layout for pasta category cards */
.pasta-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    max-width: 95%;
    margin: 2% auto;
}

/* Individual pasta card styling */
.pasta-card {
    display: flex;
    flex-direction: row;
    background-color: #ECDCBF;
    color: #864E47;
    padding: 7%;
    border-radius: 8px; 
    text-align: left;
    align-items: center;
    gap: 5%;
    text-decoration: none;
    width: 100%;
    min-height: 30vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Image styling inside each pasta card */
.pasta-card img {
    width: 60%;
    height: 90%;
    border-radius: 8px;
    flex-shrink: 0;
    object-fit: cover;
    border: 2px solid #864E47;
}

/* Pasta card title */
.pasta-card h2 {
    margin: 3% 0;
    color: #864E47;
}

/* BREAKPOINT: Responsive pasta cards layout for mobile */
@media (max-width: 375px) {
    .pasta-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: 1fr;
        gap: 2%
    }

    .pasta-card {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 5%;
    }

    pasta-card {
        font-size: 1.5rem;
    }

    .pasta-card img {
        width: 80%;
        height: auto;
    }
}




/* ================ */
/*  PASTA CATEGORY  */
/* ================ */

/* Grid layout for pasta category cards */
.pasta-category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    max-width: 95%;
    margin: 40px auto;
    align-items: center;
}

/* Styling for each individual pasta category card */
.pasta-category-card {
    display: flex;
    flex-direction: row;
    background-color: #ECDCBF;
    color: #5A6A50;
    padding: 40px;
    gap: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ECDCBF;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 1s ease;
}

/* Alternating vertical movement for card layout flair */
.pasta-category-card:nth-child(odd) {
    transform: translateY(-20px);
}

.pasta-category-card:nth-child(even) {
    transform: translateY(20px);
}

/* Image styling within pasta category cards */
.pasta-category-card img {
    width: 90%;
    max-height: 90%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #5A6A50;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Heading styling inside category cards */
.pasta-category-card h2 {
    color: #5A6A50
}

/* Links styling */
a {
    text-decoration: none;
    color: inherit;
}

/* BREAKPOINT: Responsive pasta cards layout for mobile */
@media (max-width: 375px) {
    .pasta-category-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .pasta-category-card:nth-child(odd),
    .pasta-category-card:nth-child(even) {
        transform: none;
    }
}




/* ============ */
/*  PASTA POST  */
/* ============ */

/* Main section layout for individual pasta post pages */
.pasta-post-info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    max-width: 100%;
    margin: 100px auto;
    background-color: #ECDCBF;
    border-radius: 8px;
    gap: 20px; 
    font-size: 1.2rem;
    margin-top: 5%;
}

/* Container for pasta image */
.image-container {
    flex: 1;  
    display: flex;
    justify-content: center; 
    max-width: 100%;
}

/* Pasta image styling */
.image-container img {
    width: 100%; 
    max-width: 100%;
    height: auto;
    border: 2px solid #8b5146;
    padding: 30px; 
    border-radius: 8px;
}

/* Container for text about the pasta */
.info-text {
    flex: 1;
    text-align: left;
    max-width: 70%;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.2rem;
}

/* BREAKPOINT: Responsive pasta posts layout for mobile */
@media (max-width: 375px) {
    .pasta-post-info-section {
        flex-direction: column; 
        padding: 10%;
    }

    .image-container {
        max-width: 100%; 
    }

    .image-container img {
        max-width: 100%;  
    }

    h1 {
        font-size: 28px; 
    }

    .info-text {
        max-width: 100%;
    }
}




/* ============ */
/*  BREADCRUMB  */
/* ============ */

/* Container styling for breadcrumb nav */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #864E47;
}

/* Breadcrumb list items displayed inline */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Slash between breadcrumb items */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Styling for breadcrumb links */
ul.breadcrumb li a {
  color: #C5B79F;
  text-decoration: none;
}

/* Hover effect for breadcrumb links */
ul.breadcrumb li a:hover {
  color: black;
}

/* Current breadcrumb item */
ul.breadcrumb li:current {
  color: #ECDCBF;
}




/* ===== */
/*  MAP  */
/* ===== */

/* Styling for the interactive map container */
#map {
    margin: 0 auto;
    width: 65%;
    height: 900px;
    border: 5px solid #ECDCBF;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Custom font for Leaflet popups on the map */
.leaflet-popup-content {
    font-family: 'Copse', serif;
}




/* ============ */
/*  SCROLL BAR  */
/* ============ */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #5A6A50, #C5B79F, #8b5146);
    border-radius: 5px;
}